@import './shared/fonts';

html,
body,
* {
    font-family: 'Roboto', 'Helvetica';
}

.div_list {
    display: block;
    background-color: #2f3542;
    color: white;
    width: 100%;
    padding: 0.2rem;
}

.div_list__container {
    width: 15vw;
}

@media (max-width: 420px) {
    /* Selectors and styles affecting screens UP TO 420px (Mobile) */

    .div_list__container {
        width: 45vw;
    }

}

.icon {
    color: white;
}

p,
h2,
h1 {
    color: white;
}

.hidden {
    color: transparent;
    background: transparent;
    opacity: 0;
}
.updated {
    background-color: pink;
}
.x-axis{
    color: white !important;
    font-weight: bold !important;
    font-family: 'Fira Code Bold';
}

g.x-axis {
    color: red !important;
    font-weight: bold !important;
}

 svg {
    fill: #fff;
    fill-opacity: 0.3;
}
  
path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}
  
.axis {
    stroke: #fff;
}
  
.axis-labels text {
    fill: #fff;
    fill-opacity: 0.9;
    font-size: 12px;
    text-anchor: middle;
}
  
.axis-labels line {
    stroke: #fff;
}
  
.gridline {
    opacity: 0.2;
}
  
  